.o_main_navbar {
    color: #fff !important;
    background: linear-gradient(to right, #00205c, #4f58ff); 
}

.o_wslides_course_header{
        color: #fff !important;
        background-image: linear-gradient(to left, #00205c, #4f58ff) !important; 
}

.o_wslides_course_nav {
    color: #fff !important;
    background: linear-gradient(to left, #00205c, #4f58ff); 
}

.o_footer {
    color: #000 !important;
    background: #D2E6F1 !important; 
}

.navbar {
    color: #fff !important;
    background: #FEDB31 !important; 
}

.o_footer_copyright {
    color: #fff !important;
    background: #FEDB31 !important; 
}

o_header_affixed {
    color: #fff !important;
    background: #FEDB31 !important; 
}

.text_value_color {
    color: #000;
}

.o_wslides_contactus{
        background-image: linear-gradient(to left, #00205c, #4f58ff) !important; 
}
