.o_wforum_forum_card_bg {
    color: #fff !important;
    background: linear-gradient(to left, #00205c, #4f58ff) !important; 

    #o_wforum_forums_index_list & {
        min-height: 100px;
    }
}

.o_wforum_answer_header{
    color: #fff !important;
    background: linear-gradient(to left, #00205c, #4f58ff) !important; 
}


.o_wprofile_gradient {
    color: #fff !important;
    background: linear-gradient(to left, #00205c, #4f58ff) !important; 
}
